In [16]:
%run '../child/libraries.ipynb'

Requirement already satisfied: tinydb in /Users/duane.hinkley/PycharmProjects/c772-capstone-project/venv/lib/python3.6/site-packages (4.2.0)

In [17]:
dfRaw1 = load_df('dfRaw1')
shared = load_dict('shared')

###### Display Sample Data

In [18]:
dfRaw1.select(*shared['orgVars'], 'org_new').distinct().toPandas()

   org_id               org_new
0  349115  Philadelphia Schools
1  360541        Dallas Schools
2  360421     San Diego Schools

- 3 organizations

In [19]:
dfRaw1.filter( F.col('org_id') == 360421).select(*shared['sectionVars'], 'section_new').distinct().toPandas()

    section_id                     section_new
0       520208  Christopher Columbus Secondary
1       499081        Lyndon Johnson Secondary
2       509045             Queen Victoria Prep
3       522071        George Clooney Elementry
4       530503           Lech Walesa Secondary
5       499028          Paul Krugman Elementry
6       498967     Margaret Thatcher Elementry
7       498965      Aung San Suu Kyi Secondary
8       499023        Ingrid Bergman Elementry
9       498971            Lance Armstrong High
10      499094            Anne Frank Elementry
11      527034           Jon Stewart Secondary
12      498961            Dalai Lama Elementry
13      499047     Katherine Hepburn Secondary
14      498941              Ronald Reagan High
15      498945                 C.S. Lewis Prep
16      537231                    Al Gore High
17      498977          Lionel Messi Elementry

- 18 sections in organization 360421

In [20]:
dfRaw1.filter( F.col('section_id') == 498941).select(*shared['learnerVars'], 'learner_new').distinct().toPandas()

    learner_id learner_new
0      1372550       Sucha
1      1316043     Colleen
2      1263887      Dorise
3      1344830    Charlena
4      1365609    Phillida
5      1251590      Indira
6      1249504      Tandie
7      1248228      Spiros
8      1355895    Bcspatch
9      1252768      Marita
10     1365062       Drona
11     1332895      Phuong
12     1248229        Rori
13     1265162      Werner
14     1249790       Karil
15     1249505        Alec
16     1317535       Maier
17     1249881      Sissie
18     1256982       Ronan
19     1314462      Lettie
20     1313317     Angelie
21     1385147    Lisabeth
22     1332744       Neala
23     1248093     Donetta

- 24 learners in section 498941

In [21]:
dfRaw1.filter( F.col('section_id') == 498941).select(*shared['assessmentVars'], 'assessment_new').distinct().toPandas()

   assessment_id  assessment_instance_id            assessment_new
0         720511                  813988             Odds And Ends
1         720657                  799125           The Early Earth
2         720591                  878024      I Love The Nightlife
3         720761                  879857         Those Funny Brits
4         721235                  876562    Transportation In Song
5         721038                  846625  Hail, Hail Rock 'N' Roll

- 6 assessments in section 498941

###### Display Assignments for Section 498941

In [22]:
dfRaw1.filter( F.col('section_id') == 498941).select('assessment_new', *shared['assignmentVars']).distinct().orderBy('assignment_due_date').toPandas()

,assessment_new,assignment_due_date,assignment_final_submission_date,assignment_late_submission,assignment_max_attempts,assignment_start_date,ced_assignment_type_code,is_affecting_grade,max_student_stop_datetime,min_student_start_datetime,number_of_distinct_instance_items,number_of_learners
0,"Hail, Hail Rock 'N' Roll",2019-10-30 04:59:00,2019-10-30 04:59:00,False,1,2019-10-28 05:00:00,clo,True,2019-11-16 04:09:25.260000,2019-10-28 19:49:28.028000,2,27
1,The Early Earth,2019-11-06 05:59:00,2019-11-06 05:59:00,False,1,2019-10-31 05:00:00,assessment,True,2019-11-05 23:21:59.287000,2019-10-31 19:19:21.510000,18,27
2,I Love The Nightlife,2020-01-18 05:59:00,2020-01-18 05:59:00,False,1,2020-01-16 06:00:00,assessment,True,2020-01-17 20:11:14.079000,2020-01-16 20:18:26.011000,19,23
3,Odds And Ends,2020-02-15 05:59:00,2020-02-15 05:59:00,False,1,2020-02-13 06:00:00,assessment,True,2999-01-01 00:00:00,1900-01-01 00:00:00,9,23
4,Transportation In Song,2020-02-29 05:59:00,2020-02-29 05:59:00,False,1,2020-02-27 06:00:00,assessment,True,2020-02-29 06:00:06.925000,2020-02-27 21:04:03.241000,10,22
5,Those Funny Brits,2020-04-12 04:59:00,2020-04-12 04:59:00,False,1,2020-04-09 05:00:00,assessment,True,2020-04-12 04:59:13.840000,2020-04-09 17:00:20.741000,12,23

- 6 assignments (one for each assessment) in section 498941

###### Display Assignment Items for Assessment 720657 of Section 498941

In [23]:
dfRaw1.filter( F.col('assessment_id') == 720657).select(*shared['itemVars']).distinct().toPandas()

   item_is_offline_scored item_type_code_name scoring_type_code
0                   False                None      [unassigned]
1                    True           trueFalse         automatic
2                   False      multipleChoice         automatic
3                   False            matching         automatic
4                   False               essay      [unassigned]
5                   False         shortAnswer      [unassigned]
6                   False           trueFalse         automatic

- 7 items in assessment 720657
- 1 item (true/false) is offline scored
- 4 items automatice scoring code and 3 unassigned

###### Display Assignment Attempt for Attempt 1115526

In [24]:
dfRaw1.filter( F.col('assessment_instance_attempt_id') == 1115526 ).select(*shared['assignmentAttemptVars']).distinct().toPandas()

,assessment_instance_attempt_id,assignment_attempt_number,final_score_unweighted,is_force_scored,is_manual_scoring_required,learner_assignment_attempt_id,learner_attempt_status,points_possible_unweighted,scored_datetime,student_start_datetime,student_stop_datetime,was_fully_scored_datetime,was_in_progress_datetime,was_submitted_datetime_actual
0,1115526,1,0,False,False,1050015,in progress,39.0,2999-01-01 00:00:00+00,2019-11-03 22:41:04.219000,2999-01-01 00:00:00,2999-01-01 00:00:00,2019-11-03 22:41:04.219000,2999-01-01 00:00:00

- Attempt is in progress (not finished)
- Empty (default) scored_datetime, student_stop_datetime, was_fully_scored_datetime, was_submitted_datetime_actual
- Final score is 0
- Same values in student_start_datetime and was_in_progress_datetime

###### Display Assignment Attempt for Attempt 1159455

In [25]:
dfRaw1.filter( F.col('assessment_instance_attempt_id') == 1159455 ).select(*shared['assignmentAttemptVars']).distinct().toPandas()

,assessment_instance_attempt_id,assignment_attempt_number,final_score_unweighted,is_force_scored,is_manual_scoring_required,learner_assignment_attempt_id,learner_attempt_status,points_possible_unweighted,scored_datetime,student_start_datetime,student_stop_datetime,was_fully_scored_datetime,was_in_progress_datetime,was_submitted_datetime_actual
0,1159455,1,9,False,False,965818,fully scored,12.0,2020-04-11 03:59:35+00,2020-04-09 18:30:43.079000,2020-04-11 03:59:35.992000,2020-04-11 03:59:35,2020-04-09 18:30:43.079000,2020-04-11 03:59:35.992000

- Attempt is finished (fully scored)

###### Display Assignment Attempt Items for Attempt 1115526

In [26]:
dfRaw1.filter( F.col('assessment_instance_attempt_id') == 1115526 ).select(*shared['itemAttemptVars']).distinct().toPandas()

,assessment_item_response_id,assigned_item_status,is_deleted,learner_assigned_item_attempt_id,response_correctness
0,1572894.0,scored,False,1531985,correct
1,1592595.0,scored,False,1532003,correct
2,1626110.0,scored,False,1532004,correct
3,1571371.0,scored,False,1531981,incorrect
4,1561797.0,scored,False,1531983,incorrect
5,1616296.0,scored,False,1531998,incorrect
6,1571743.0,scored,False,1532001,correct
7,1556172.0,scored,False,1532002,correct
8,1652901.0,scored,False,1532000,incorrect
9,1631451.0,scored,False,1531984,incorrect
10,1664219.0,scored,False,1531979,correct
11,1610844.0,scored,False,1531970,correct
12,1568785.0,scored,False,1531980,incorrect
13,1609716.0,scored,False,1531982,partially_correct
14,1627468.0,scored,False,1531978,incorrect
15,NaN,delivered,False,1531999,None

- 16 observations
- 15 answered (scored)
  - 7 correct
  - 7 incorrect
  - 1 partically correct
- 1 not answered (delivered)
  - assessment not completed

###### Display Assignment Attempt Items for Attempt 1159455

In [27]:
dfRaw1.filter( F.col('assessment_instance_attempt_id') == 1159455 ).select(*shared['itemAttemptVars']).distinct().toPandas()

,assessment_item_response_id,assigned_item_status,is_deleted,learner_assigned_item_attempt_id,response_correctness
0,1596516,scored,False,1413322,correct
1,1581835,scored,False,1413319,correct
2,1549179,scored,False,1413324,correct
3,1547897,scored,False,1413317,incorrect
4,1635317,scored,False,1413318,correct
5,1585073,scored,False,1413325,correct
6,1622897,scored,False,1413321,incorrect
7,1616794,scored,False,1413316,correct
8,1586273,scored,False,1413320,correct
9,1554205,scored,False,1413323,correct
10,1652023,scored,False,1413315,correct
11,1656622,scored,False,1413326,incorrect