In [28]:
%run '../lib/libraries.ipynb'

dython              0.6.1
tinydb              4.2.0

In [29]:
dfRaw = load_df('dfRaw')
cats = get_var_cats()

###### Display Sample Data

In [30]:
dfRaw.select(*cats['orgVars']).distinct().toPandas()

   org_id
0  349115
1  360421
2  360541

- 3 organizations

In [31]:
dfRaw.filter( F.col('org_id') == 360421).select(*cats['sectionVars']).distinct().toPandas()

    section_id
0       498961
1       499023
2       537231
3       498945
4       498977
5       498971
6       498965
7       499094
8       499047
9       530503
10      499028
11      527034
12      498941
13      498967
14      522071
15      509045
16      499081
17      520208

- 18 sections in organization 360421

In [32]:
dfRaw.filter( F.col('section_id') == 498941).select(*cats['learnerVars']).distinct().toPandas()

    learner_id
0      1248228
1      1249504
2      1385147
3      1332895
4      1313317
5      1355895
6      1249790
7      1372550
8      1344830
9      1365609
10     1256982
11     1249505
12     1332744
13     1317535
14     1248093
15     1248229
16     1249881
17     1263887
18     1265162
19     1251590
20     1314462
21     1316043
22     1365062
23     1252768

- 24 learners in section 498941

In [33]:
dfRaw.filter( F.col('section_id') == 498941).select(*cats['assessmentVars']).distinct().toPandas()

   assessment_id  assessment_instance_id
0         721038                  846625
1         721235                  876562
2         720657                  799125
3         720761                  879857
4         720511                  813988
5         720591                  878024

- 6 assessments in section 498941

###### Display Assignments for Section 498941

In [34]:
dfRaw.filter( F.col('section_id') == 498941).select( *cats['assignmentVars']).distinct().orderBy('assignment_due_date').toPandas()

,assignment_due_date,assignment_final_submission_date,assignment_late_submission,assignment_max_attempts,assignment_start_date,ced_assignment_type_code,is_affecting_grade,max_student_stop_datetime,min_student_start_datetime,number_of_distinct_instance_items,number_of_learners
0,2019-10-30 04:59:00,2019-10-30 04:59:00,False,1,2019-10-28 05:00:00,clo,True,2019-11-16 04:09:25.260,2019-10-28 19:49:28.028,2,27
1,2019-11-06 05:59:00,2019-11-06 05:59:00,False,1,2019-10-31 05:00:00,assessment,True,2019-11-05 23:21:59.287,2019-10-31 19:19:21.510,18,27
2,2020-01-18 05:59:00,2020-01-18 05:59:00,False,1,2020-01-16 06:00:00,assessment,True,2020-01-17 20:11:14.079,2020-01-16 20:18:26.011,19,23
3,2020-02-15 05:59:00,2020-02-15 05:59:00,False,1,2020-02-13 06:00:00,assessment,True,NaT,NaT,9,23
4,2020-02-29 05:59:00,2020-02-29 05:59:00,False,1,2020-02-27 06:00:00,assessment,True,2020-02-29 06:00:06.925,2020-02-27 21:04:03.241,10,22
5,2020-04-12 04:59:00,2020-04-12 04:59:00,False,1,2020-04-09 05:00:00,assessment,True,2020-04-12 04:59:13.840,2020-04-09 17:00:20.741,12,23

- 6 assignments (one for each assessment) in section 498941

###### Display Assignment Items for Assessment 720657 of Section 498941

In [35]:
dfRaw.filter( F.col('assessment_id') == 720657).select(*cats['itemVars']).distinct().toPandas()

   item_is_offline_scored item_type_code_name scoring_type_code
0                   False                None      [unassigned]
1                    True           trueFalse         automatic
2                   False      multipleChoice         automatic
3                   False            matching         automatic
4                   False               essay      [unassigned]
5                   False         shortAnswer      [unassigned]
6                   False           trueFalse         automatic

- 7 items in assessment 720657
- 1 item (true/false) is offline scored
- 4 items automatice scoring code and 3 unassigned

###### Display Assignment Attempt for Attempt 1115526

In [36]:
dfRaw.filter( F.col('assessment_instance_attempt_id') == 1115526 ).select(*cats['assignmentAttemptVars']).distinct().toPandas()

,assessment_instance_attempt_id,assignment_attempt_number,final_score_unweighted,is_force_scored,is_manual_scoring_required,learner_assignment_attempt_id,learner_attempt_status,points_possible_unweighted,scored_datetime,student_start_datetime,student_stop_datetime,was_fully_scored_datetime,was_in_progress_datetime,was_submitted_datetime_actual
0,1115526,1,0,False,False,1050015,in progress,39.0,NaT,2019-11-03 22:41:04.219,NaT,NaT,2019-11-03 22:41:04.219,NaT

- Attempt is in progress (not finished)
- Empty (default) scored_datetime, student_stop_datetime, was_fully_scored_datetime, was_submitted_datetime_actual
- Final score is 0
- Same values in student_start_datetime and was_in_progress_datetime

###### Display Assignment Attempt for Attempt 1159455

In [37]:
dfRaw.filter( F.col('assessment_instance_attempt_id') == 1159455 ).select(*cats['assignmentAttemptVars']).distinct().toPandas()

,assessment_instance_attempt_id,assignment_attempt_number,final_score_unweighted,is_force_scored,is_manual_scoring_required,learner_assignment_attempt_id,learner_attempt_status,points_possible_unweighted,scored_datetime,student_start_datetime,student_stop_datetime,was_fully_scored_datetime,was_in_progress_datetime,was_submitted_datetime_actual
0,1159455,1,9,False,False,965818,fully scored,12.0,2020-04-10 20:59:35,2020-04-09 18:30:43.079,2020-04-11 03:59:35.992,2020-04-11 03:59:35,2020-04-09 18:30:43.079,2020-04-11 03:59:35.992

- Attempt is finished (fully scored)

###### Display Assignment Attempt Items for Attempt 1115526

In [38]:
dfRaw.filter( F.col('assessment_instance_attempt_id') == 1115526 ).select(*cats['itemAttemptVars']).distinct().toPandas()

,assessment_item_response_id,assigned_item_status,is_deleted,learner_assigned_item_attempt_id,response_correctness
0,1572894.0,scored,False,1531985,correct
1,1592595.0,scored,False,1532003,correct
2,1626110.0,scored,False,1532004,correct
3,1571371.0,scored,False,1531981,incorrect
4,1561797.0,scored,False,1531983,incorrect
5,1616296.0,scored,False,1531998,incorrect
6,1571743.0,scored,False,1532001,correct
7,1556172.0,scored,False,1532002,correct
8,1652901.0,scored,False,1532000,incorrect
9,1631451.0,scored,False,1531984,incorrect
10,1664219.0,scored,False,1531979,correct
11,1610844.0,scored,False,1531970,correct
12,1568785.0,scored,False,1531980,incorrect
13,1609716.0,scored,False,1531982,partially_correct
14,1627468.0,scored,False,1531978,incorrect
15,NaN,delivered,False,1531999,None

- 16 observations
- 15 answered (scored)
  - 7 correct
  - 7 incorrect
  - 1 partically correct
- 1 not answered (delivered)
  - assessment not completed

###### Display Assignment Attempt Items for Attempt 1159455

In [39]:
dfRaw.filter( F.col('assessment_instance_attempt_id') == 1159455 ).select(*cats['itemAttemptVars']).distinct().toPandas()

,assessment_item_response_id,assigned_item_status,is_deleted,learner_assigned_item_attempt_id,response_correctness
0,1596516,scored,False,1413322,correct
1,1581835,scored,False,1413319,correct
2,1549179,scored,False,1413324,correct
3,1547897,scored,False,1413317,incorrect
4,1635317,scored,False,1413318,correct
5,1585073,scored,False,1413325,correct
6,1622897,scored,False,1413321,incorrect
7,1616794,scored,False,1413316,correct
8,1586273,scored,False,1413320,correct
9,1554205,scored,False,1413323,correct
10,1652023,scored,False,1413315,correct
11,1656622,scored,False,1413326,incorrect