### Investigate 14999 null dates in item attempt dates

In [7]:
%run '../lib/libraries.ipynb'

dython              0.6.1
tinydb              4.2.0

WARNING: You are using pip version 20.2.3; however, version 20.2.4 is available.
You should consider upgrading via the '/Users/duane.hinkley/PycharmProjects/c772-capstone-project/venv/bin/python -m pip install --upgrade pip' command.
WARNING: You are using pip version 20.2.3; however, version 20.2.4 is available.
You should consider upgrading via the '/Users/duane.hinkley/PycharmProjects/c772-capstone-project/venv/bin/python -m pip install --upgrade pip' command.

In [11]:
dfFlt  = load_df('dfFlt')
types = get_var_types()

###### Create Dataframe of null observations

In [9]:
nullDf = dfFlt.filter(F.col('item_attempt_start_datetime_utc').isNull())
nullDf.count()

14999

Dataframe contains the 14,999 null item_attempt_start_datetime_utc


###### Display distinct values

In [10]:
distinct_val(nullDf)

                                       0
assignment_max_attempts                1
assignment_late_submission         False
assignment_attempt_number              1
is_manual_scoring_required         False
learner_attempt_status      fully scored
is_deleted                         False

- No new values

###### Display counts of dates

In [12]:
date_min_max_null_unique(dfFlt, types['intervalVars'])

assignment_due_date
+------+----+-------------------+-------------------+
|unique|null|min                |max                |
+------+----+-------------------+-------------------+
|190   |1566|2019-08-23 04:59:00|2020-05-26 04:59:00|
+------+----+-------------------+-------------------+

assignment_final_submission_date
+------+----+-------------------+-------------------+
|unique|null|min                |max                |
+------+----+-------------------+-------------------+
|199   |1566|2019-08-23 04:59:00|2020-06-05 04:59:00|
+------+----+-------------------+-------------------+

assignment_start_date
+------+----+-------------------+-------------------+
|unique|null|min                |max                |
+------+----+-------------------+-------------------+
|206   |1566|2019-08-21 05:00:00|2020-05-19 05:00:00|
+------+----+-------------------+-------------------+

item_attempt_end_datetime_utc
+------+-----+-----------------------+-----------------------+
|unique|null |min                    |max                    |
+------+-----+-----------------------+-----------------------+
|64747 |14999|2019-08-23 14:14:49.339|2020-05-26 04:00:11.393|
+------+-----+-----------------------+-----------------------+

item_attempt_start_datetime_utc
+------+-----+-------------------+-------------------+
|unique|null |min                |max                |
+------+-----+-------------------+-------------------+
|60182 |14999|2019-08-23 14:11:53|2020-05-26 03:56:13|
+------+-----+-------------------+-------------------+

max_student_stop_datetime
+------+----+-----------------------+-----------------------+
|unique|null|min                    |max                    |
+------+----+-----------------------+-----------------------+
|521   |0   |2019-08-22 04:06:27.518|2020-05-26 04:59:17.367|
+------+----+-----------------------+-----------------------+

min_student_start_datetime
+------+----+-----------------------+-----------------------+
|unique|null|min                    |max                    |
+------+----+-----------------------+-----------------------+
|613   |0   |2019-08-21 23:33:10.917|2020-05-20 06:15:00.043|
+------+----+-----------------------+-----------------------+

scored_datetime
+------+----+-------------------+-------------------+
|unique|null|min                |max                |
+------+----+-------------------+-------------------+
|7187  |3422|2019-08-21 19:37:58|2020-05-25 21:59:53|
+------+----+-------------------+-------------------+

student_start_datetime
+------+----+-----------------------+-----------------------+
|unique|null|min                    |max                    |
+------+----+-----------------------+-----------------------+
|7385  |749 |2019-08-22 01:57:32.893|2020-05-26 04:59:17.367|
+------+----+-----------------------+-----------------------+

student_stop_datetime
+------+----+-----------------------+-----------------------+
|unique|null|min                    |max                    |
+------+----+-----------------------+-----------------------+
|7127  |749 |2019-08-22 02:37:59.012|2020-05-26 04:59:17.367|
+------+----+-----------------------+-----------------------+

was_fully_scored_datetime
+------+----+-----------------------+-----------------------+
|unique|null|min                    |max                    |
+------+----+-----------------------+-----------------------+
|8587  |750 |2019-08-22 02:37:59.012|2020-05-26 04:59:53.903|
+------+----+-----------------------+-----------------------+

was_in_progress_datetime
+------+----+-----------------------+-----------------------+
|unique|null|min                    |max                    |
+------+----+-----------------------+-----------------------+
|7319  |9965|2019-08-22 01:57:32.893|2020-05-26 03:30:53.599|
+------+----+-----------------------+-----------------------+

was_submitted_datetime_actual
+------+-----+-----------------------+-----------------------+
|unique|null |min                    |max                    |
+------+-----+-----------------------+-----------------------+
|6545  |18469|2019-08-22 13:09:24.898|2020-05-26 04:00:13.372|
+------+-----+-----------------------+-----------------------+

###### Common observations with null was_submitted_datetime_actual

In [13]:
nullDf.filter(F.col('was_submitted_datetime_actual').isNull()).count()

13994

- 13994 in common

###### Common observations with 0 raw_score

In [14]:
nullDf.filter(F.col('raw_score') == 0).count()

11701

- 11701 in common

#### Conclusion
- address with the 15710 null assessment_item_response_id solution

In [5]:
finish_todo('Investigate 14999 null dates in item attempt dates')