### Investigate 1566 null dates
    - in
      - assignment_due_date
      - assignment_final_submission_date
      - assignment_start_date
    - Verify same observations as 1566 [unassigned] in response_correctness'

In [1]:
%run '../lib/libraries.ipynb'

dython              0.6.1
tinydb              4.2.0

In [2]:
dfFlt  = load_df('dfFlt')

#### Verify same observations as 1566 [unassigned] in response_correctness'

##### Count the null dates in the 1566 [unassigned] observations

In [3]:
dfUnassigned = dfFlt.filter(F.col("response_correctness") == "[unassigned]")

dfUnassigned.agg(
        F.sum(F.when(F.col('assignment_due_date').isNull(),              1).otherwise(0)).alias('assignment_due_date'),
        F.sum(F.when(F.col('assignment_final_submission_date').isNull(), 1).otherwise(0)).alias('assignment_final_submission_date'),
        F.sum(F.when(F.col('assignment_start_date').isNull(),            1).otherwise(0)).alias('assignment_start_date'),
      ).toPandas().head(1).transpose()

                                     0
assignment_due_date               1566
assignment_final_submission_date  1566
assignment_start_date             1566

- They are the same observations
- Will be addressed with the 1566 [unassigned] in response_correctness

In [4]:
finish_todo('Investigate 1566 null dates')