### Investigate 14999 null dates in item attempt dates

In [1]:
%run '../lib/libraries.ipynb'

dython              0.6.1
tinydb              4.2.0

WARNING: You are using pip version 20.2.3; however, version 20.2.4 is available.
You should consider upgrading via the '/Users/duane.hinkley/PycharmProjects/c772-capstone-project/venv/bin/python -m pip install --upgrade pip' command.
WARNING: You are using pip version 20.2.3; however, version 20.2.4 is available.
You should consider upgrading via the '/Users/duane.hinkley/PycharmProjects/c772-capstone-project/venv/bin/python -m pip install --upgrade pip' command.

In [2]:
dfFlt  = load_df('dfFlt')

###### Create Dataframe of null observations

In [3]:
nullDf = dfFlt.filter(F.col('item_attempt_start_datetime_utc').isNull())
nullDf.count()

14999

Dataframe contains the 14,999 null item_attempt_start_datetime_utc


###### Display distinct values

In [4]:
distinct_val(nullDf)

                                            0
assignment_max_attempts                     1
assignment_late_submission              False
assignment_attempt_number                   1
is_manual_scoring_required              False
learner_attempt_status           fully scored
item_attempt_start_datetime_utc           NaT
item_attempt_end_datetime_utc             NaT
is_deleted                              False
assessment_item_response_id               NaN

- assessment_item_response_id is also null
- subset of the 15710 null assessment_item_response_id

#### Conslusion
- address with the 15710 null assessment_item_response_id solution

In [ ]:
finish_todo('Investigate 14999 null dates in item attempt dates')