### Investigate why some dates are null
All variables have have null dates

In [43]:
%run '../lib/libraries.ipynb'

dython              0.6.1
tinydb              4.2.0

In [44]:
dfFlt  = load_df('dfFlt')
dfDesc = load_df('dfDesc')
cats   = get_var_cats()

###### Date Categories

In [25]:
(
    dfDesc.filter("type = 'Categorical Interval'")
        .select( F.col('category').alias('Category'), F.col('field').alias('Categorical Interval'))
        .orderBy('category', 'field')
        .show(20,False)
)

+------------------+--------------------------------+
|Category          |Categorical Interval            |
+------------------+--------------------------------+
|Assignment        |assignment_due_date             |
|Assignment        |assignment_final_submission_date|
|Assignment        |assignment_start_date           |
|Assignment        |max_student_stop_datetime       |
|Assignment        |min_student_start_datetime      |
|Assignment Attempt|scored_datetime                 |
|Assignment Attempt|student_start_datetime          |
|Assignment Attempt|student_stop_datetime           |
|Assignment Attempt|was_fully_scored_datetime       |
|Assignment Attempt|was_in_progress_datetime        |
|Assignment Attempt|was_submitted_datetime_actual   |
+------------------+--------------------------------+

###### Display Assignments with null assignment_due_date

In [26]:
dfAdd = (
        dfFlt.filter( F.col('assignment_due_date').isNull() )
            .select('assessment_id', *cats['assignmentVars'])
            .distinct()
)
dfAdd.count()

14

In [27]:
dfAdd.orderBy('assignment_due_date').toPandas()

,assessment_id,assignment_due_date,assignment_final_submission_date,assignment_late_submission,assignment_max_attempts,assignment_start_date,ced_assignment_type_code,is_affecting_grade,max_student_stop_datetime,min_student_start_datetime,number_of_distinct_instance_items,number_of_learners
0,651386,NaT,NaT,False,0,NaT,rubric,True,2019-10-14 18:21:14.218,2019-10-14 18:20:20.679,2,4
1,648915,NaT,NaT,False,0,NaT,game,True,2019-10-16 16:04:30.823,2019-10-16 15:49:32.513,10,12
2,724304,NaT,NaT,False,0,NaT,game,True,2020-04-06 16:43:46.137,2020-03-23 20:50:47.544,10,6
3,649617,NaT,NaT,False,0,NaT,game,True,2020-03-05 20:31:47.482,2020-03-04 18:14:24.499,10,32
4,727353,NaT,NaT,False,0,NaT,game,True,2020-03-20 05:40:51.557,2020-03-09 13:16:37.579,10,12
5,650257,NaT,NaT,False,0,NaT,game,True,2019-11-04 20:39:55.217,2019-11-04 16:11:26.289,10,29
6,699380,NaT,NaT,False,0,NaT,game,True,2019-09-10 14:44:06.405,2019-09-10 14:36:29.961,5,1
7,694589,NaT,NaT,False,0,NaT,game,True,2020-01-22 20:51:51.617,2020-01-10 19:08:01.434,10,2
8,752431,NaT,NaT,False,0,NaT,rubric,True,2019-10-14 18:21:11.124,2019-10-14 18:21:11.124,3,1
9,695917,NaT,NaT,False,0,NaT,game,True,2019-10-25 19:06:18.094,2019-10-25 18:59:17.046,10,1
10,650257,NaT,NaT,False,0,NaT,game,True,2019-11-08 19:33:39.400,2019-11-08 16:26:07.484,10,28
11,724303,NaT,NaT,False,0,NaT,game,True,2020-03-26 00:24:54.259,2020-03-17 18:57:38.926,10,9
12,724364,NaT,NaT,False,0,NaT,game,True,2020-04-25 20:44:02.962,2020-04-01 01:22:00.607,10,6
13,724303,NaT,NaT,False,0,NaT,game,True,2019-10-24 18:34:44.312,2019-10-17 00:50:13.965,10,18

###### Display Assignments with null assignment_final_submission_date

In [28]:
dfAdd = (
        dfFlt.filter( F.col('assignment_final_submission_date').isNull() )
            .select('assessment_id', *cats['assignmentVars'])
            .distinct()
)
dfAdd.count()

14

In [29]:
dfAdd.orderBy('assignment_due_date').toPandas()

,assessment_id,assignment_due_date,assignment_final_submission_date,assignment_late_submission,assignment_max_attempts,assignment_start_date,ced_assignment_type_code,is_affecting_grade,max_student_stop_datetime,min_student_start_datetime,number_of_distinct_instance_items,number_of_learners
0,651386,NaT,NaT,False,0,NaT,rubric,True,2019-10-14 18:21:14.218,2019-10-14 18:20:20.679,2,4
1,648915,NaT,NaT,False,0,NaT,game,True,2019-10-16 16:04:30.823,2019-10-16 15:49:32.513,10,12
2,724304,NaT,NaT,False,0,NaT,game,True,2020-04-06 16:43:46.137,2020-03-23 20:50:47.544,10,6
3,649617,NaT,NaT,False,0,NaT,game,True,2020-03-05 20:31:47.482,2020-03-04 18:14:24.499,10,32
4,727353,NaT,NaT,False,0,NaT,game,True,2020-03-20 05:40:51.557,2020-03-09 13:16:37.579,10,12
5,650257,NaT,NaT,False,0,NaT,game,True,2019-11-04 20:39:55.217,2019-11-04 16:11:26.289,10,29
6,699380,NaT,NaT,False,0,NaT,game,True,2019-09-10 14:44:06.405,2019-09-10 14:36:29.961,5,1
7,694589,NaT,NaT,False,0,NaT,game,True,2020-01-22 20:51:51.617,2020-01-10 19:08:01.434,10,2
8,752431,NaT,NaT,False,0,NaT,rubric,True,2019-10-14 18:21:11.124,2019-10-14 18:21:11.124,3,1
9,695917,NaT,NaT,False,0,NaT,game,True,2019-10-25 19:06:18.094,2019-10-25 18:59:17.046,10,1
10,650257,NaT,NaT,False,0,NaT,game,True,2019-11-08 19:33:39.400,2019-11-08 16:26:07.484,10,28
11,724303,NaT,NaT,False,0,NaT,game,True,2020-03-26 00:24:54.259,2020-03-17 18:57:38.926,10,9
12,724364,NaT,NaT,False,0,NaT,game,True,2020-04-25 20:44:02.962,2020-04-01 01:22:00.607,10,6
13,724303,NaT,NaT,False,0,NaT,game,True,2019-10-24 18:34:44.312,2019-10-17 00:50:13.965,10,18

###### Display Assignments with null assignment_start_date

In [30]:
dfAdd = (
        dfFlt.filter( F.col('assignment_start_date').isNull() )
            .select('assessment_id', *cats['assignmentVars'])
            .distinct()
)
dfAdd.count()

14

In [31]:
dfAdd.orderBy('assignment_due_date').toPandas()

,assessment_id,assignment_due_date,assignment_final_submission_date,assignment_late_submission,assignment_max_attempts,assignment_start_date,ced_assignment_type_code,is_affecting_grade,max_student_stop_datetime,min_student_start_datetime,number_of_distinct_instance_items,number_of_learners
0,651386,NaT,NaT,False,0,NaT,rubric,True,2019-10-14 18:21:14.218,2019-10-14 18:20:20.679,2,4
1,648915,NaT,NaT,False,0,NaT,game,True,2019-10-16 16:04:30.823,2019-10-16 15:49:32.513,10,12
2,724304,NaT,NaT,False,0,NaT,game,True,2020-04-06 16:43:46.137,2020-03-23 20:50:47.544,10,6
3,649617,NaT,NaT,False,0,NaT,game,True,2020-03-05 20:31:47.482,2020-03-04 18:14:24.499,10,32
4,727353,NaT,NaT,False,0,NaT,game,True,2020-03-20 05:40:51.557,2020-03-09 13:16:37.579,10,12
5,650257,NaT,NaT,False,0,NaT,game,True,2019-11-04 20:39:55.217,2019-11-04 16:11:26.289,10,29
6,699380,NaT,NaT,False,0,NaT,game,True,2019-09-10 14:44:06.405,2019-09-10 14:36:29.961,5,1
7,694589,NaT,NaT,False,0,NaT,game,True,2020-01-22 20:51:51.617,2020-01-10 19:08:01.434,10,2
8,752431,NaT,NaT,False,0,NaT,rubric,True,2019-10-14 18:21:11.124,2019-10-14 18:21:11.124,3,1
9,695917,NaT,NaT,False,0,NaT,game,True,2019-10-25 19:06:18.094,2019-10-25 18:59:17.046,10,1
10,650257,NaT,NaT,False,0,NaT,game,True,2019-11-08 19:33:39.400,2019-11-08 16:26:07.484,10,28
11,724303,NaT,NaT,False,0,NaT,game,True,2020-03-26 00:24:54.259,2020-03-17 18:57:38.926,10,9
12,724364,NaT,NaT,False,0,NaT,game,True,2020-04-25 20:44:02.962,2020-04-01 01:22:00.607,10,6
13,724303,NaT,NaT,False,0,NaT,game,True,2019-10-24 18:34:44.312,2019-10-17 00:50:13.965,10,18

###### Display Assignments with null max_student_stop_datetime

In [32]:
dfAdd = (
        dfFlt.filter( F.col('max_student_stop_datetime').isNull() )
            .select('assessment_id', *cats['assignmentVars'])
            .distinct()
)
dfAdd.count()

0

In [33]:
dfAdd.orderBy('assignment_due_date').toPandas()

Empty DataFrame
Columns: [assessment_id, assignment_due_date, assignment_final_submission_date, assignment_late_submission, assignment_max_attempts, assignment_start_date, ced_assignment_type_code, is_affecting_grade, max_student_stop_datetime, min_student_start_datetime, number_of_distinct_instance_items, number_of_learners]
Index: []

###### Display Assignments with null min_student_start_datetime

In [34]:
dfAdd = (
        dfFlt.filter( F.col('min_student_start_datetime').isNull() )
            .select('assessment_id', *cats['assignmentVars'])
            .distinct()
)
dfAdd.count()

0

In [35]:
dfAdd.orderBy('assignment_due_date').toPandas()

Empty DataFrame
Columns: [assessment_id, assignment_due_date, assignment_final_submission_date, assignment_late_submission, assignment_max_attempts, assignment_start_date, ced_assignment_type_code, is_affecting_grade, max_student_stop_datetime, min_student_start_datetime, number_of_distinct_instance_items, number_of_learners]
Index: []

###### Display Assignment Attempts for null scored_datetime

In [36]:
dfFlt.filter( F.col('scored_datetime').isNull() ).select(*cats['assignmentAttemptVars']).distinct().toPandas()

,assessment_instance_attempt_id,assignment_attempt_number,final_score_unweighted,is_force_scored,is_manual_scoring_required,learner_assignment_attempt_id,learner_attempt_status,points_possible_unweighted,scored_datetime,student_start_datetime,student_stop_datetime,was_fully_scored_datetime,was_in_progress_datetime,was_submitted_datetime_actual
0,1100126,1,0,False,False,1073732,fully scored,10.0,NaT,2019-12-17 15:26:23.662,2019-12-17 15:31:15.434,2019-12-17 15:31:15.000,2019-12-17 15:26:23.662,2019-12-17 15:31:15.434
1,1228551,1,0,False,False,998365,fully scored,10.0,NaT,2020-05-01 02:59:35.812,2020-05-18 17:32:17.139,2020-05-18 17:32:17.139,2020-05-01 02:59:35.812,NaT
2,1170651,1,0,True,False,976039,fully scored,73.0,NaT,2020-02-26 17:19:02.535,2020-02-28 05:59:49.336,2020-02-28 06:00:25.734,2020-02-26 17:19:02.535,NaT
3,1204222,1,0,False,False,951051,fully scored,10.0,NaT,2019-12-04 19:03:27.217,2019-12-04 19:12:56.461,2019-12-04 19:12:56.510,2019-12-04 19:03:27.217,2019-12-04 19:12:56.461
4,1170866,1,0,True,False,1040219,fully scored,20.0,NaT,2020-03-10 18:19:13.438,2020-03-11 05:00:10.856,2020-03-11 05:00:36.017,2020-03-10 18:19:13.438,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,1112834,1,0,True,False,1040477,fully scored,20.0,NaT,2020-03-11 05:00:10.856,2020-03-11 05:00:10.856,2020-03-11 05:00:37.236,NaT,NaT
286,1166374,1,0,False,False,979817,fully scored,10.0,NaT,2019-12-17 15:26:49.234,2019-12-17 15:34:45.000,2019-12-17 15:34:45.000,2019-12-17 15:26:49.234,NaT
287,1108461,1,0,True,False,1057681,fully scored,11.0,NaT,2020-03-03 04:59:29.669,2020-03-03 04:59:29.669,2020-03-03 05:03:38.000,NaT,NaT
288,1225413,1,0,False,False,1073566,fully scored,10.0,NaT,2019-12-17 15:27:25.558,2019-12-17 15:36:23.392,2019-12-17 15:36:23.000,2019-12-17 15:27:25.558,2019-12-17 15:36:23.392
289,1140276,1,0,True,False,976313,fully scored,73.0,NaT,2020-02-28 05:59:49.336,2020-02-28 05:59:49.336,2020-02-28 06:00:26.000,NaT,NaT

###### Display Assignment Attempts for null student_start_datetime

In [37]:
dfFlt.filter( F.col('student_start_datetime').isNull() ).select(*cats['assignmentAttemptVars']).distinct().toPandas()

,assessment_instance_attempt_id,assignment_attempt_number,final_score_unweighted,is_force_scored,is_manual_scoring_required,learner_assignment_attempt_id,learner_attempt_status,points_possible_unweighted,scored_datetime,student_start_datetime,student_stop_datetime,was_fully_scored_datetime,was_in_progress_datetime,was_submitted_datetime_actual
0,NaN,1,10,False,False,1011070,fully scored,10.0,2019-10-08 15:54:09,NaT,NaT,NaT,NaT,NaT
1,1142270.0,1,10,False,False,1095588,fully scored,10.0,2019-09-19 19:15:48,NaT,NaT,NaT,NaT,NaT
2,NaN,1,4,False,False,1004534,fully scored,4.0,2019-10-28 07:02:35,NaT,NaT,NaT,NaT,NaT
3,1147753.0,1,10,False,False,968825,fully scored,10.0,2019-11-07 04:31:54,NaT,NaT,NaT,NaT,NaT
4,1099866.0,1,26,False,False,1058880,fully scored,45.0,2019-11-05 13:11:45,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,1171788.0,1,6,False,False,1005795,fully scored,8.0,2019-10-25 12:45:15,NaT,NaT,NaT,NaT,NaT
72,1110511.0,1,9,False,False,1019206,fully scored,10.0,2019-10-23 08:02:15,NaT,NaT,NaT,NaT,NaT
73,1116000.0,1,10,False,False,1019427,fully scored,10.0,2019-10-23 08:20:13,NaT,NaT,NaT,NaT,NaT
74,NaN,1,32,False,False,1058786,fully scored,45.0,2019-11-05 07:14:52,NaT,NaT,NaT,NaT,NaT
75,1113134.0,1,9,False,False,1000105,fully scored,10.0,2019-10-23 07:18:51,NaT,NaT,NaT,NaT,NaT

###### Display Assignment Attempts for null student_stop_datetime

In [38]:
dfFlt.filter( F.col('student_stop_datetime').isNull() ).select(*cats['assignmentAttemptVars']).distinct().toPandas()

,assessment_instance_attempt_id,assignment_attempt_number,final_score_unweighted,is_force_scored,is_manual_scoring_required,learner_assignment_attempt_id,learner_attempt_status,points_possible_unweighted,scored_datetime,student_start_datetime,student_stop_datetime,was_fully_scored_datetime,was_in_progress_datetime,was_submitted_datetime_actual
0,NaN,1,10,False,False,1011070,fully scored,10.0,2019-10-08 15:54:09,NaT,NaT,NaT,NaT,NaT
1,1142270.0,1,10,False,False,1095588,fully scored,10.0,2019-09-19 19:15:48,NaT,NaT,NaT,NaT,NaT
2,NaN,1,4,False,False,1004534,fully scored,4.0,2019-10-28 07:02:35,NaT,NaT,NaT,NaT,NaT
3,1147753.0,1,10,False,False,968825,fully scored,10.0,2019-11-07 04:31:54,NaT,NaT,NaT,NaT,NaT
4,1099866.0,1,26,False,False,1058880,fully scored,45.0,2019-11-05 13:11:45,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,1171788.0,1,6,False,False,1005795,fully scored,8.0,2019-10-25 12:45:15,NaT,NaT,NaT,NaT,NaT
72,1110511.0,1,9,False,False,1019206,fully scored,10.0,2019-10-23 08:02:15,NaT,NaT,NaT,NaT,NaT
73,1116000.0,1,10,False,False,1019427,fully scored,10.0,2019-10-23 08:20:13,NaT,NaT,NaT,NaT,NaT
74,NaN,1,32,False,False,1058786,fully scored,45.0,2019-11-05 07:14:52,NaT,NaT,NaT,NaT,NaT
75,1113134.0,1,9,False,False,1000105,fully scored,10.0,2019-10-23 07:18:51,NaT,NaT,NaT,NaT,NaT

###### Display Assignment Attempts for null was_fully_scored_datetime

In [39]:
dfFlt.filter( F.col('was_fully_scored_datetime').isNull() ).select(*cats['assignmentAttemptVars']).distinct().toPandas()

,assessment_instance_attempt_id,assignment_attempt_number,final_score_unweighted,is_force_scored,is_manual_scoring_required,learner_assignment_attempt_id,learner_attempt_status,points_possible_unweighted,scored_datetime,student_start_datetime,student_stop_datetime,was_fully_scored_datetime,was_in_progress_datetime,was_submitted_datetime_actual
0,NaN,1,10,False,False,1011070,fully scored,10.0,2019-10-08 15:54:09,NaT,NaT,NaT,NaT,NaT
1,1142270.0,1,10,False,False,1095588,fully scored,10.0,2019-09-19 19:15:48,NaT,NaT,NaT,NaT,NaT
2,NaN,1,4,False,False,1004534,fully scored,4.0,2019-10-28 07:02:35,NaT,NaT,NaT,NaT,NaT
3,1239837.0,1,1,False,True,1005215,fully scored,6.0,2019-11-22 12:02:44,2019-11-22 19:58:15.402,2019-11-22 20:02:45.182,NaT,2019-11-22 19:58:15.402,2019-11-22 20:02:45.182
4,1147753.0,1,10,False,False,968825,fully scored,10.0,2019-11-07 04:31:54,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,1171788.0,1,6,False,False,1005795,fully scored,8.0,2019-10-25 12:45:15,NaT,NaT,NaT,NaT,NaT
73,1110511.0,1,9,False,False,1019206,fully scored,10.0,2019-10-23 08:02:15,NaT,NaT,NaT,NaT,NaT
74,1116000.0,1,10,False,False,1019427,fully scored,10.0,2019-10-23 08:20:13,NaT,NaT,NaT,NaT,NaT
75,NaN,1,32,False,False,1058786,fully scored,45.0,2019-11-05 07:14:52,NaT,NaT,NaT,NaT,NaT
76,1113134.0,1,9,False,False,1000105,fully scored,10.0,2019-10-23 07:18:51,NaT,NaT,NaT,NaT,NaT

###### Display Assignment Attempts for null was_in_progress_datetime

In [40]:
dfFlt.filter( F.col('was_in_progress_datetime').isNull() ).select(*cats['assignmentAttemptVars']).distinct().toPandas()

,assessment_instance_attempt_id,assignment_attempt_number,final_score_unweighted,is_force_scored,is_manual_scoring_required,learner_assignment_attempt_id,learner_attempt_status,points_possible_unweighted,scored_datetime,student_start_datetime,student_stop_datetime,was_fully_scored_datetime,was_in_progress_datetime,was_submitted_datetime_actual
0,1127902.0,1,0,True,False,990418,fully scored,24.0,2020-02-29 22:01:08,2020-03-01 06:00:31.749,2020-03-01 06:00:31.749,2020-03-01 06:01:08.593,NaT,NaT
1,1141791.0,1,0,True,False,1036237,fully scored,20.0,2020-03-07 22:00:18,2020-03-08 05:59:36.841,2020-03-08 05:59:36.841,2020-03-08 06:00:18.000,NaT,NaT
2,1218664.0,1,0,True,False,997739,fully scored,10.0,2020-02-21 21:12:54,2020-02-22 05:00:07.569,2020-02-22 05:00:07.569,2020-02-22 05:12:54.000,NaT,NaT
3,NaN,1,0,True,False,1002425,fully scored,5.0,2020-01-23 04:49:58,2020-01-23 12:49:28.591,2020-01-23 12:49:28.591,2020-01-23 12:49:59.063,NaT,NaT
4,NaN,1,0,True,False,964973,fully scored,10.0,2019-12-09 12:03:07,2019-12-09 20:00:02.038,2019-12-09 20:00:02.038,2019-12-09 20:03:07.000,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1613,1117356.0,1,0,True,False,1005280,fully scored,15.0,2020-04-11 21:59:23,2020-04-12 04:59:13.840,2020-04-12 04:59:13.840,2020-04-12 04:59:23.430,NaT,NaT
1614,1140276.0,1,0,True,False,976313,fully scored,73.0,NaT,2020-02-28 05:59:49.336,2020-02-28 05:59:49.336,2020-02-28 06:00:26.000,NaT,NaT
1615,1140469.0,1,0,True,False,1042178,fully scored,14.0,2020-04-12 22:02:29,2020-04-13 04:59:58.104,2020-04-13 04:59:58.104,2020-04-13 05:02:30.479,NaT,NaT
1616,NaN,1,0,True,False,1054242,fully scored,10.0,2020-01-23 11:00:50,2020-01-23 19:00:06.260,2020-01-23 19:00:06.260,2020-01-23 19:00:50.000,NaT,NaT
1617,1169079.0,1,0,True,False,1023500,fully scored,11.0,2020-05-08 22:03:54,2020-05-09 05:01:51.317,2020-05-09 05:01:51.317,2020-05-09 05:03:54.777,NaT,NaT

###### Display Assignment Attempts for null was_in_progress_datetime

In [41]:
dfFlt.filter( F.col('was_in_progress_datetime').isNull() ).select(*cats['assignmentAttemptVars']).distinct().toPandas()

,assessment_instance_attempt_id,assignment_attempt_number,final_score_unweighted,is_force_scored,is_manual_scoring_required,learner_assignment_attempt_id,learner_attempt_status,points_possible_unweighted,scored_datetime,student_start_datetime,student_stop_datetime,was_fully_scored_datetime,was_in_progress_datetime,was_submitted_datetime_actual
0,1127902.0,1,0,True,False,990418,fully scored,24.0,2020-02-29 22:01:08,2020-03-01 06:00:31.749,2020-03-01 06:00:31.749,2020-03-01 06:01:08.593,NaT,NaT
1,1141791.0,1,0,True,False,1036237,fully scored,20.0,2020-03-07 22:00:18,2020-03-08 05:59:36.841,2020-03-08 05:59:36.841,2020-03-08 06:00:18.000,NaT,NaT
2,1218664.0,1,0,True,False,997739,fully scored,10.0,2020-02-21 21:12:54,2020-02-22 05:00:07.569,2020-02-22 05:00:07.569,2020-02-22 05:12:54.000,NaT,NaT
3,NaN,1,0,True,False,1002425,fully scored,5.0,2020-01-23 04:49:58,2020-01-23 12:49:28.591,2020-01-23 12:49:28.591,2020-01-23 12:49:59.063,NaT,NaT
4,NaN,1,0,True,False,964973,fully scored,10.0,2019-12-09 12:03:07,2019-12-09 20:00:02.038,2019-12-09 20:00:02.038,2019-12-09 20:03:07.000,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1613,1117356.0,1,0,True,False,1005280,fully scored,15.0,2020-04-11 21:59:23,2020-04-12 04:59:13.840,2020-04-12 04:59:13.840,2020-04-12 04:59:23.430,NaT,NaT
1614,1140276.0,1,0,True,False,976313,fully scored,73.0,NaT,2020-02-28 05:59:49.336,2020-02-28 05:59:49.336,2020-02-28 06:00:26.000,NaT,NaT
1615,1140469.0,1,0,True,False,1042178,fully scored,14.0,2020-04-12 22:02:29,2020-04-13 04:59:58.104,2020-04-13 04:59:58.104,2020-04-13 05:02:30.479,NaT,NaT
1616,NaN,1,0,True,False,1054242,fully scored,10.0,2020-01-23 11:00:50,2020-01-23 19:00:06.260,2020-01-23 19:00:06.260,2020-01-23 19:00:50.000,NaT,NaT
1617,1169079.0,1,0,True,False,1023500,fully scored,11.0,2020-05-08 22:03:54,2020-05-09 05:01:51.317,2020-05-09 05:01:51.317,2020-05-09 05:03:54.777,NaT,NaT

###### Display Assignment Attempts for null was_submitted_datetime_actual

In [42]:
dfFlt.filter( F.col('was_submitted_datetime_actual').isNull() ).select(*cats['assignmentAttemptVars']).distinct().toPandas()

,assessment_instance_attempt_id,assignment_attempt_number,final_score_unweighted,is_force_scored,is_manual_scoring_required,learner_assignment_attempt_id,learner_attempt_status,points_possible_unweighted,scored_datetime,student_start_datetime,student_stop_datetime,was_fully_scored_datetime,was_in_progress_datetime,was_submitted_datetime_actual
0,1127902.0,1,0,True,False,990418,fully scored,24.0,2020-02-29 22:01:08,2020-03-01 06:00:31.749,2020-03-01 06:00:31.749,2020-03-01 06:01:08.593,NaT,NaT
1,1098351.0,1,0,False,False,961903,fully scored,4.0,2020-04-10 22:02:52,2020-04-09 18:50:02.899,2020-05-04 20:43:18.188,2020-05-04 20:43:18.188,2020-04-09 18:50:02.899,NaT
2,1141791.0,1,0,True,False,1036237,fully scored,20.0,2020-03-07 22:00:18,2020-03-08 05:59:36.841,2020-03-08 05:59:36.841,2020-03-08 06:00:18.000,NaT,NaT
3,1218664.0,1,0,True,False,997739,fully scored,10.0,2020-02-21 21:12:54,2020-02-22 05:00:07.569,2020-02-22 05:00:07.569,2020-02-22 05:12:54.000,NaT,NaT
4,NaN,1,0,True,False,1002425,fully scored,5.0,2020-01-23 04:49:58,2020-01-23 12:49:28.591,2020-01-23 12:49:28.591,2020-01-23 12:49:59.063,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2392,1140469.0,1,0,True,False,1042178,fully scored,14.0,2020-04-12 22:02:29,2020-04-13 04:59:58.104,2020-04-13 04:59:58.104,2020-04-13 05:02:30.479,NaT,NaT
2393,NaN,1,0,True,False,1054242,fully scored,10.0,2020-01-23 11:00:50,2020-01-23 19:00:06.260,2020-01-23 19:00:06.260,2020-01-23 19:00:50.000,NaT,NaT
2394,1119925.0,1,0,False,False,999995,fully scored,10.0,2020-04-17 22:03:44,2020-05-04 20:50:06.242,2020-05-04 20:50:07.822,2020-05-04 20:50:07.822,2020-05-04 20:50:06.242,NaT
2395,1245038.0,1,1,False,False,1049918,fully scored,10.0,2019-11-04 05:20:56,2019-11-01 12:51:03.172,2019-11-04 13:20:56.601,2019-11-04 13:20:56.601,2019-11-01 12:51:03.172,NaT
2396,1169079.0,1,0,True,False,1023500,fully scored,11.0,2020-05-08 22:03:54,2020-05-09 05:01:51.317,2020-05-09 05:01:51.317,2020-05-09 05:03:54.777,NaT,NaT