In [1]:
%run '../lib/libraries.ipynb'

Requirement already satisfied: tinydb in /Users/duane.hinkley/PycharmProjects/c772-capstone-project/venv/lib/python3.6/site-packages (4.2.0)

In [2]:
dfInv3 = load_df('dfInv3')
shared4 = load_dict('shared4')

##### Investigate null values in item_type_code_name

###### Create a dataframe for investigation

In [3]:
nullItDf = dfInv3.filter(F.col('item_type_code_name').isNull())

###### Number of null values

In [4]:
nullItDf.select().count()

3264

###### Display any single values

In [5]:
cols = single_val(nullItDf.toPandas())
display_sv_cols(nullItDf, cols)

                                           0
item_is_offline_scored                 False
item_type_code_name                     None
scoring_type_code               [unassigned]
assigned_item_status                assigned
assessment_instance_attempt_id           NaN
assessment_item_response_id              NaN

- Looks like it wasn't answered
  - scoring_type_code = "[unassigned]"
    - not scored
  - assigned_items_status = assigned
  - assessment_instance_attempt_id = null
    - not attempted
  - assessment_item_response_id = null
    - not responsed

- Maybe it's just one question from an assessment not answered

###### Display full assessment for one

In [16]:
nullItDf.select('learner_assignment_attempt_id').toPandas()

      learner_assignment_attempt_id
0                            964949
1                            964949
2                            964949
3                           1094732
4                            964949
...                             ...
3259                         965039
3260                         965039
3261                         965039
3262                        1014415
3263                        1014415

[3264 rows x 1 columns]

In [6]:
row = nullItDf.select('learner_assignment_attempt_id').limit(1).collect()
learner_assignment_attempt_id = row[0][0]

dfInv3.filter( F.col('learner_assignment_attempt_id') == learner_assignment_attempt_id).select(*shared4['itemAttemptVars']).distinct().toPandas()

AnalysisException: cannot resolve '`is_deleted`' given input columns: [assessment_id, assessment_instance_attempt_id, assessment_instance_id, assessment_item_response_id, assessment_new, assigned_item_status, assignment_due_date, assignment_final_submission_date, assignment_start_date, ced_assignment_type_code, final_score_unweighted, is_affecting_grade, is_force_scored, item_is_offline_scored, item_type_code_name, learner_assigned_item_attempt_id, learner_assignment_attempt_id, learner_id, learner_new, max_student_stop_datetime, min_student_start_datetime, number_of_distinct_instance_items, number_of_learners, org_id, org_new, points_possible_unweighted, scored_datetime, scoring_type_code, section_id, section_new, student_start_datetime, student_stop_datetime, was_fully_scored_datetime, was_in_progress_datetime, was_submitted_datetime_actual];;
'Project [assessment_item_response_id#30, assigned_item_status#21, 'is_deleted, learner_assigned_item_attempt_id#29, 'response_correctness]
+- Filter (learner_assignment_attempt_id#26 = 964949)
   +- Relation[ced_assignment_type_code#0,is_affecting_grade#1,number_of_learners#2,number_of_distinct_instance_items#3,assignment_final_submission_date#4,assignment_start_date#5,assignment_due_date#6,min_student_start_datetime#7,max_student_stop_datetime#8,was_fully_scored_datetime#9,was_submitted_datetime_actual#10,was_in_progress_datetime#11,is_force_scored#12,student_start_datetime#13,student_stop_datetime#14,item_is_offline_scored#15,points_possible_unweighted#16,final_score_unweighted#17,scored_datetime#18,item_type_code_name#19,scoring_type_code#20,assigned_item_status#21,org_id#22,section_id#23,... 11 more fields] parquet