### Display Sample Data

In [3]:
%%capture

%run '../lib/libraries.ipynb'

In [4]:
filterDf = load_df('filterDf')
cats = get_var_cats()

#### Display Sample Data

In [5]:
filterDf.select(*cats['orgVars']).distinct().toPandas()

   org_id
0  117713
1  130845
2   19164

- 3 organizations

In [6]:
filterDf.filter( F.col('org_id') == 19164).select(*cats['sectionVars']).distinct().toPandas()

    section_id
0       151413
1       190290
2       171183
3       157833
4       190142
5       189069
6       156185
7       172320
8       156942
9       165855
10      189587
11      168233
12      180635
13      154760
14      182278
15      171796
16      177931
17      159774

- 18 sections in organization 19164

In [7]:
filterDf.filter( F.col('section_id') == 168233).select(*cats['learnerVars']).distinct().toPandas()

    learner_id
0       965111
1      1002217
2       967083
3       950185
4      1031739
5       925271
6      1023242
7       917841
8       974861
9      1001748
10     1029053
11     1039336
12      942005
13      985440
14      933880
15      972118
16     1007205
17     1024717
18      999101
19     1019159
20      972699
21      901700
22     1001567
23      915319

- 24 learners in section 168233

In [8]:
filterDf.filter( F.col('section_id') == 168233).select(*cats['assessmentVars']).distinct().toPandas()

   assessment_id  assessment_instance_id
0         318077                  482141
1         319406                  469908
2         321665                  451549
3         306799                  456508
4         318077                  468545
5         320202                  470094
6         307990                  454039

- 7 assessments in section 168233
- one instance per assessment per section

###### Display Assignments for Section 498941

In [9]:
filterDf.filter( F.col('section_id') == 168233).select('assessment_id','assessment_instance_id', *cats['assignmentVars']).distinct().orderBy('assignment_due_date').toPandas()

,assessment_id,assessment_instance_id,assignment_due_date,assignment_final_submission_date,assignment_late_submission,assignment_max_attempts,assignment_start_date,ced_assignment_type_code,is_affecting_grade,max_student_stop_datetime,min_student_start_datetime,number_of_distinct_instance_items,number_of_learners
0,307990,454039,2019-10-26 04:59:00,2019-10-26 04:59:00,False,1,2019-10-24 05:00:00,assessment,True,2019-10-25 20:08:20.472,2019-10-25 18:54:07.661,4,25
1,319406,469908,2019-11-09 05:59:00,2019-11-09 05:59:00,False,1,2019-10-29 05:00:00,assessment,True,2019-11-04 21:25:08.370,2019-10-31 19:23:20.802,21,25
2,306799,456508,2020-01-18 05:59:00,2020-01-18 05:59:00,False,1,2020-01-10 06:00:00,assessment,True,2020-01-17 19:39:37.415,2020-01-10 20:22:47.150,21,25
3,320202,470094,2020-01-23 05:59:00,2020-01-23 05:59:00,False,1,2019-12-12 06:00:00,assessment,True,2020-01-17 19:27:50.274,2020-01-08 20:18:10.320,6,25
4,318077,468545,2020-02-28 21:00:00,2020-02-28 21:00:00,False,1,2020-02-26 06:00:00,assessment,True,2020-02-28 21:00:06.870,2020-02-26 20:12:54.385,41,25
5,318077,482141,2020-02-29 05:59:00,2020-02-29 05:59:00,False,1,2020-02-27 06:00:00,assessment,True,2020-02-29 06:00:06.925,2020-02-27 20:31:07.210,41,1
6,321665,451549,2020-03-11 04:59:00,2020-03-11 04:59:00,False,1,2020-03-09 05:00:00,assessment,True,2020-03-11 05:00:10.856,2020-03-09 19:12:23.609,20,25

- 7 assignments (one for each assessment) in section 168233

###### Display Assignment Items for Assessment 306799 of Section 168233

In [10]:
filterDf.filter( F.col('assessment_id') == 306799).select(*cats['itemVars']).distinct().toPandas()

   item_is_offline_scored item_type_code_name scoring_type_code
0                   False               essay            manual
1                   False         shortAnswer            manual
2                   False      multipleChoice         automatic
3                   False            matching         automatic
4                   False           trueFalse         automatic

- 4 items in assessment 306799
- 1 item essay manual scored
- 1 item short answer manual scored
- 1 item (true/false) is automatic scored
- 1 item matching choice automatic scored

###### Display Assignment Attempts for Assessment 306799

In [11]:
filterDf.filter( F.col('assessment_id') == 306799 ).select('learner_assignment_attempt_id', *cats['assignmentAttemptVars']).distinct().toPandas()

,learner_assignment_attempt_id,assessment_instance_attempt_id,assignment_attempt_number,final_score_unweighted,is_force_scored,is_manual_scoring_required,learner_assignment_attempt_id,learner_attempt_status,points_possible_unweighted,scored_datetime,student_start_datetime,student_stop_datetime,was_fully_scored_datetime,was_in_progress_datetime,was_submitted_datetime_actual,student_duration_mins,timeliness_duration_mins
0,606926,762772,1,49,False,False,606926,fully scored,50.0,2020-01-10 12:58:30,2020-01-10 20:23:03.429,2020-01-10 20:53:53.736,2020-01-10 20:58:30.000,2020-01-10 20:23:03.429,2020-01-10 20:53:53.736,30.833333,10655.950000
1,606822,883967,1,34,False,False,606822,fully scored,50.0,2020-01-14 06:55:58,2020-01-10 20:24:29.103,2020-01-10 21:04:58.110,2020-01-14 14:55:58.000,2020-01-10 20:24:29.103,2020-01-10 21:04:58.110,40.483333,10654.516667
2,606469,885870,1,36,False,False,606469,fully scored,50.0,2020-01-16 11:17:45,2020-01-10 20:34:48.974,2020-01-15 15:01:08.865,2020-01-16 19:17:45.000,2020-01-10 20:34:48.974,2020-01-15 15:01:08.865,6866.333333,10644.200000
3,606776,884438,1,24,False,False,606776,fully scored,50.0,2020-01-14 07:06:18,2020-01-10 20:24:41.704,2020-01-10 21:12:04.370,2020-01-14 15:06:19.066,2020-01-10 20:24:41.704,2020-01-10 21:12:04.370,47.383333,10654.316667
4,606660,870868,1,18,False,False,606660,fully scored,50.0,2020-01-14 06:47:30,2020-01-10 20:24:20.917,2020-01-10 20:56:16.703,2020-01-14 14:47:30.765,2020-01-10 20:24:20.917,2020-01-10 20:56:16.703,31.933333,10654.666667
5,606696,786876,1,24,False,False,606696,fully scored,50.0,2020-01-21 05:42:13,2020-01-17 19:28:35.578,2020-01-17 19:39:37.415,2020-01-21 13:42:13.488,2020-01-17 19:28:35.578,2020-01-17 19:39:37.415,11.033333,630.416667
6,606940,888189,1,37,False,False,606940,fully scored,50.0,2020-01-14 07:04:08,2020-01-10 20:23:31.968,2020-01-10 20:55:55.849,2020-01-14 15:04:08.000,2020-01-10 20:23:31.968,2020-01-10 20:55:55.849,32.400000,10655.483333
7,606552,796361,1,43,False,False,606552,fully scored,50.0,2020-01-15 06:29:04,2020-01-15 14:06:31.264,2020-01-15 14:22:21.848,2020-01-15 14:29:04.000,2020-01-15 14:06:31.264,2020-01-15 14:22:21.848,15.833333,3832.483333
8,606968,851655,1,39,False,False,606968,fully scored,50.0,2020-01-10 13:06:52,2020-01-10 20:22:59.815,2020-01-10 20:54:58.720,2020-01-10 21:06:53.260,2020-01-10 20:22:59.815,2020-01-10 20:54:58.720,31.983333,10656.016667
9,606596,840383,1,49,False,False,606596,fully scored,50.0,2020-01-14 07:10:44,2020-01-10 20:25:09.185,2020-01-10 21:12:03.691,2020-01-14 15:10:44.000,2020-01-10 20:25:09.185,2020-01-10 21:12:03.691,46.900000,10653.850000
10,606519,856034,1,48,False,False,606519,fully scored,50.0,2020-01-14 06:49:11,2020-01-10 20:24:53.174,2020-01-10 21:13:32.703,2020-01-14 14:49:12.282,2020-01-10 20:24:53.174,2020-01-10 21:13:32.703,48.650000,10654.116667
11,606814,784977,1,39,False,False,606814,fully scored,50.0,2020-01-10 12:45:42,2020-01-10 20:23:23.124,2020-01-10 20:41:48.618,2020-01-10 20:45:42.000,2020-01-10 20:23:23.124,2020-01-10 20:41:48.618,18.416667,10655.616667
12,606912,788355,1,37,False,False,606912,fully scored,50.0,2020-01-14 07:02:09,2020-01-10 20:37:07.892,2020-01-10 21:07:17.453,2020-01-14 15:02:09.796,2020-01-10 20:37:07.892,2020-01-10 21:07:17.453,30.166667,10641.883333
13,606501,776436,1,44,False,False,606501,fully scored,50.0,2020-01-14 07:13:18,2020-01-10 20:23:30.966,2020-01-10 20:49:07.186,2020-01-14 15:13:18.000,2020-01-10 20:23:30.966,2020-01-10 20:49:07.186,25.616667,10655.500000
14,606747,775892,1,44,False,False,606747,fully scored,50.0,2020-01-15 06:25:05,2020-01-10 20:25:00.404,2020-01-15 14:23:30.835,2020-01-15 14:25:05.415,2020-01-10 20:25:00.404,2020-01-15 14:23:30.835,6838.500000,10654.000000
15,606711,871376,1,50,False,False,606711,fully scored,50.0,2020-01-14 07:00:26,2020-01-10 20:24:17.036,2020-01-10 21:08:16.067,2020-01-14 15:00:26.915,2020-01-10 20:24:17.036,2020-01-10 21:08:16.067,43.983333,10654.716667
16,606979,804437,1,33,False,False,606979,fully scored,50.0,2020-01-14 07:07:54,2020-01-10 20:25:08.396,2020-01-10 21:14:56.737,2020-01-14 15:07:54.000,2020-01-10 20:25:08.396,2020-01-10 21:14:56.737,49.800000,10653.866667
17,606869,816577,1,44,False,False,606869,fully scored,50.0,2020-01-15 06:09:26,2020-01-10 20:22:47.150,2020-01-15 14:09:26.490,2020-01-15 14:09:26.413,2020-01-10 20:22:47.150,2020-01-15 14:09:26.490,6826.650000,10656.216667
18,606962,837246,1,41,False,False,606962,fully scored,50.0,2020-01-14 06:53:56,2020-01-10 20:26:15.224,2020-01-10 21:16:18.171,2020-01-14 14:53:56.659,2020-01-10 20:26:15.224,2020-01-10 21:16:18.171,50.050000,10652.750000
19,606539,855007,1,40,False,False,606539,fully scored,50.0,2020-01-14 07:11:57,2020-01-10 20:27:02.311,2020-01-10 21:05:56.575,2020-01-14 15:11:57.000,2020-01-10 20:27:02.311,2020-01-10 21:05:56.575,38.900000,10651.966667
20,606844,773755,1,28,False,False,606844,fully scored,50.0,2020-01-14 06:51:36,2020-01-10 20:24:44.384,2020-01-10 21:02:37.319,2020-01-14 14:51:36.000,2020-01-10 20:24:44.384,2020-01-10 21:02:37.319,37.883333,10654.266667

- 21 attempts
- Majority of students started (student_start_datetime) and stopped (student_stop_datetime) on 2020-01-10
- Scored (was_fully_scored_datetime) between 1/10 and 1/21

###### Display Assignment Attempt Items for Attempt 1098979

In [12]:
filterDf.filter( F.col('assessment_instance_attempt_id') == 816577 ).select('learner_assigned_item_attempt_id', *cats['itemAttemptVars']).distinct().toPandas()

,learner_assigned_item_attempt_id,assessment_item_response_id,assigned_item_status,is_deleted,item_attempt_end_datetime_utc,item_attempt_start_datetime_utc,learner_assigned_item_attempt_id,raw_score,response_correctness,item_attempt_duration_mins
0,1112306,1308240,scored,False,2020-01-10 20:55:24.591,2020-01-10 20:26:52.171,1112306,5,correct,28.533333
1,1112298,1280346,scored,False,2020-01-10 21:14:46.149,2020-01-10 21:10:36.925,1112298,0,incorrect,4.166667
2,1112308,1265620,scored,False,2020-01-10 20:53:11.803,2020-01-10 20:26:41.266,1112308,8,partially_correct,26.500000
3,1112288,1256802,scored,False,2020-01-10 20:29:22.031,2020-01-10 20:27:13.925,1112288,5,correct,2.150000
4,1112302,1290179,scored,False,2020-01-15 14:09:22.660,2020-01-10 21:20:22.332,1112302,1,correct,6769.000000
5,1112297,1295377,scored,False,2020-01-10 21:20:21.631,2020-01-10 21:19:29.811,1112297,5,correct,0.866667
6,1112296,1259561,scored,False,2020-01-10 21:02:07.127,2020-01-10 20:32:37.615,1112296,5,correct,29.500000
7,1112293,1304100,scored,False,2020-01-10 20:58:19.137,2020-01-10 20:29:23.320,1112293,1,correct,28.933333
8,1112299,1275647,scored,False,2020-01-10 20:33:31.336,2020-01-10 20:30:04.806,1112299,1,correct,3.450000
9,1112292,1271700,scored,False,2020-01-10 20:31:51.540,2020-01-10 20:24:12.989,1112292,1,correct,7.650000
10,1112305,1302707,scored,False,2020-01-10 21:00:15.702,2020-01-10 20:58:19.803,1112305,0,incorrect,1.933333
11,1112294,1240914,scored,False,2020-01-10 20:46:40.602,2020-01-10 20:22:47.787,1112294,3,partially_correct,23.883333
12,1112303,1234097,scored,False,2020-01-10 20:48:59.455,2020-01-10 20:26:21.498,1112303,1,correct,22.633333
13,1112304,1249044,scored,False,2020-01-10 20:46:46.027,2020-01-10 20:23:15.451,1112304,1,correct,23.516667
14,1112290,1233509,scored,False,2020-01-10 21:10:36.343,2020-01-10 21:09:24.527,1112290,1,correct,1.200000
15,1112307,1308106,scored,False,2020-01-10 21:09:23.922,2020-01-10 21:06:11.789,1112307,1,correct,3.200000
16,1112291,1280225,scored,False,2020-01-10 21:16:06.048,2020-01-10 21:14:46.857,1112291,1,correct,1.333333
17,1112289,1337004,scored,False,2020-01-15 14:08:39.324,2020-01-10 21:16:06.579,1112289,1,correct,6772.550000
18,1112300,1348119,scored,False,2020-01-10 20:32:36.938,2020-01-10 20:25:36.145,1112300,1,correct,7.000000
19,1112295,1325481,scored,False,2020-01-10 20:31:47.031,2020-01-10 20:23:33.451,1112295,1,correct,8.233333
20,1112301,1235956,scored,False,2020-01-10 21:06:10.838,2020-01-10 20:30:01.621,1112301,1,correct,36.150000

- 21 items
- All answered (scored)
  - 17 correct
  - 2 incorrect
  - 2 partially correct

###### Display Assignment Attempt Items for Attempt 883967

In [13]:
filterDf.filter( F.col('assessment_instance_attempt_id') == 883967 ).select(*cats['itemAttemptVars']).distinct().toPandas()

,assessment_item_response_id,assigned_item_status,is_deleted,item_attempt_end_datetime_utc,item_attempt_start_datetime_utc,learner_assigned_item_attempt_id,raw_score,response_correctness,item_attempt_duration_mins
0,1276407,scored,False,2020-01-10 20:46:08.571,2020-01-10 20:28:00.497,1108215,0,incorrect,18.133333
1,1237323,scored,False,2020-01-10 20:43:01.281,2020-01-10 20:25:04.280,1108223,1,correct,17.950000
2,1236259,scored,False,2020-01-10 20:43:04.012,2020-01-10 20:25:24.116,1108212,5,correct,17.666667
3,1234676,scored,False,2020-01-10 21:04:52.867,2020-01-10 21:01:55.129,1108214,0,incorrect,2.950000
4,1242906,scored,False,2020-01-10 21:04:32.863,2020-01-10 20:32:38.652,1108222,0,incorrect,31.900000
5,1242296,scored,False,2020-01-10 21:04:51.565,2020-01-10 20:34:49.082,1108219,1,partially_correct,30.033333
6,1245859,scored,False,2020-01-10 21:04:47.800,2020-01-10 20:33:47.543,1108217,1,correct,31.000000
7,1283745,scored,False,2020-01-10 21:04:55.281,2020-01-10 21:03:35.868,1108208,0,incorrect,1.333333
8,1235053,scored,False,2020-01-10 21:04:26.621,2020-01-10 20:32:16.222,1108216,10,correct,32.166667
9,1339453,scored,False,2020-01-10 21:04:34.516,2020-01-10 20:32:44.650,1108213,0,incorrect,31.833333
10,1253137,scored,False,2020-01-10 21:04:24.528,2020-01-10 20:32:11.995,1108221,0,incorrect,32.216667
11,1256010,scored,False,2020-01-10 21:04:22.554,2020-01-10 20:30:05.823,1108207,5,correct,34.283333
12,1291494,scored,False,2020-01-10 21:04:29.247,2020-01-10 20:32:23.457,1108209,5,correct,32.100000
13,1230603,scored,False,2020-01-10 21:04:44.253,2020-01-10 20:33:44.174,1108224,1,correct,31.000000
14,1250376,scored,False,2020-01-10 21:04:21.434,2020-01-10 20:30:00.926,1108218,1,correct,34.350000
15,1276415,scored,False,2020-01-10 20:50:01.375,2020-01-10 20:29:25.085,1108225,1,correct,20.600000
16,1257486,scored,False,2020-01-10 21:04:36.022,2020-01-10 20:33:20.523,1108211,0,incorrect,31.266667
17,1245739,scored,False,2020-01-10 20:48:25.229,2020-01-10 20:28:29.863,1108210,0,incorrect,19.933333
18,1262984,scored,False,2020-01-10 20:37:00.462,2020-01-10 20:24:29.653,1108227,1,correct,12.516667
19,1299043,scored,False,2020-01-10 21:04:31.229,2020-01-10 20:32:32.169,1108220,1,correct,31.983333
20,1249913,scored,False,2020-01-10 21:04:41.974,2020-01-10 20:33:39.203,1108226,1,correct,31.033333

- 21 items
- All answered (scored)
  - 12 correct
  - 8 incorrect
  - 1 partially correct